.new-collections {
    display: flex;
    margin-top: 0;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    min-height: 90vh; /* Usa min-height para permitir crecimiento */
}

.new-collections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
    text-align: center;
}

/* Tema claro */
.new-collections.light h1 {
    color: black;
}

/* Tema oscuro */
.new-collections.dark h1 {
    color: white;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    margin: 0 auto;
}

/* Tema claro */
.new-collections.light hr {
    background: black;
}

/* Tema oscuro */
.new-collections.dark hr {
    background: white;
}

.collections {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 50px;
    width: 100%;
    max-width: 1200px;
    justify-items: center;
}

.collections img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

/* Media Queries para responsive */

/* Pantallas medianas (tablets) */
@media (max-width: 1024px) {
    .collections {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Pantallas pequeñas (smartphones grandes) */
@media (max-width: 768px) {
    .collections {
        grid-template-columns: repeat(2, 1fr);
    }

    .new-collections h1 {
        font-size: 36px;
    }
}

/* Pantallas muy pequeñas (smartphones chicos) */
@media (max-width: 480px) {
    .collections {
        grid-template-columns: repeat(1, 1fr);
    }

    .new-collections h1 {
        font-size: 28px;
    }

    .collections img {
        width: 100%;
        height: auto;
    }
}
